.cart-contents-table {
    tbody tr:last-child td {
        border: 0
    }

    .cart-delete-button {
        &:hover {
            color: red;
            background-color: transparent;
        }
    }
}

.cart-contents-area {
    padding: 1rem;
}