.fancy-button {
    &:hover {
        transform-origin: bottom right;
        animation: scale 500ms ease-in-out forwards;
    }

    &:disabled {
        opacity: 0.5;
        background-color: #666;
        color: #fff;
    }
}

@keyframes scale {
    to {
        transform: scale(1.1);
    }
}